<div class="bridge-upper">
    <h1>
        <div>
            <div class="titleLinks"><a href="https://go.xero.com/Accounts/Receivable/Dashboard/">Sales overview</a>&nbsp;›&nbsp;</div>
            <span id="title">Invoices</span>
        </div>
    </h1>
    <div id="xn_banner"></div>
    <div class="tasks">
        <dl class="select split list" id="ext-gen27">
            <dt id="ext-gen26">
                <div id="ext-gen30">
                    <a href="https://go.xero.com/AccountsReceivable/Edit.aspx">
                        <em class="icons add">
                            &nbsp;
                        </em>
                        New Invoice
                    </a>
                    <div id="ext-gen29">
                        <span>
                            &nbsp;
                        </span>
                    </div>
                </div>
            </dt>
            <dd id="ext-gen28">
                <ul>
                    <li>
                        <a href="https://go.xero.com/AccountsReceivable/Edit.aspx">
                            New Invoice
                        </a>
                    </li>
                    <li>
                        <a href="https://go.xero.com/RepeatTransactions/Edit.aspx?type=AR">
                            New Repeating Invoice
                        </a>
                    </li>
                    <li class="border-text">
                        <span>
                            &nbsp;
                        </span><em>
                            INVOICE TO...
                        </em>
                    </li>
                    <li>
                        <a href="https://go.xero.com/AccountsReceivable/Edit.aspx?contactGroupID=50e845c3-464e-4a6d-8951-8794317c7893" onclick="">
                            Training customers (9)
                        </a>
                    </li>
                    <li class="border-text">
                        <span>
                            &nbsp;
                        </span><a href="https://go.xero.com/Contacts/Search">
                            + Add contact group
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="    button" id="ext-gen31"><a href="https://go.xero.com/AccountsReceivable/EditCreditNote.aspx" id="ext-gen32"><em class="icons add">&nbsp;</em><span class="text" data-automationid="New Credit Note-button">New Credit Note</span></a></div>
        <div class="    button" id="ext-gen33"><a href="https://go.xero.com/AccountsReceivable/Statements.aspx" id="ext-gen34"><em class="icons play">&nbsp;</em><span class="text" data-automationid="Send Statements-button">Send Statements</span></a></div>
        <div class="small    button" id="ext-gen35"><a href="https://go.xero.com/Import/Import.aspx?type=IMPORTTYPE/ARINVOICES" id="ext-gen36"><em class="none">&nbsp;</em><span class="text" data-automationid="Import-button">Import</span></a></div>
        <div class="small skip exportbutton   button" id="exportButton"><a href="https://go.xero.com/AccountsReceivable/Search.aspx#" id="ext-gen37"><em class="none">&nbsp;</em><span class="text" data-automationid="Export-button">Export</span></a></div>
        <div id="invoicereminders-enabled" class="invoicereminders-enabled">
            <div class="   invoice-reminders-button
                              reminders-disabled
                              button" id="invoicereminders-settings-link">
                <a href="https://go.xero.com/Settings/InvoiceSettings/Reminders/" id="ext-gen38">
                    <em class="none">&nbsp;</em><span class="text" data-automationid="Invoice Reminders:
                              Off
                              -button">
                        Invoice Reminders:
                        Off
                    </span>
                </a>
            </div>
        </div>
    </div>
    <ul class="group">
        <li class="selected">
            <a href="https://go.xero.com/AccountsReceivable/Search.aspx">
                All
            </a>
        </li>
        <li>
            <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS/DRAFT">
                Draft
                <span>
                    (2)
                </span>
            </a>
        </li>
        <li>
            <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS/SUBMITTED">
                Awaiting Approval
                <span>
                    (0)
                </span>
            </a>
        </li>
        <li>
            <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS/AUTHORISED">
                Awaiting Payment
                <span>
                    (9)
                </span>
            </a>
        </li>
        <li>
            <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS/PAID">
                Paid
            </a>
        </li>
        <li>
            <a href="https://go.xero.com/AccountsReceivable/SearchRepeating.aspx">
                Repeating
            </a>
        </li>
    </ul>
</div>

@code {

}
