<div id="header">
    <header role="banner" class="xrh-header xnav-header xnav-header-business xnav-header-wide" data-automationid="xnav-container">
        <div class="xnav-banner">
            <a data-on="click" data-event-category="Nav" data-event-action="Clicked BANNER_ACTION: banner-previous-org" href="https://go.xero.com/OrganisationLogin/?shortCode=!16T4p" class="xnav-banner--returnaction" data-name="banner/banner-previous-org" data-menu-item-type="BANNER_ACTION">
                <svg role="presentation" width="14" height="13" focusable="false" class="xnav-banner--icon xnav-icon xnav-icon-svg" viewBox="0 0 14 13">
                    <path d="M4 5.5l4-4L6.5 0 0 6.5 6.5 13 8 11.5l-4-4h10v-2z"></path>
                </svg>
                Go back to last organisation
            </a>
        </div>
        <div class="xnav-header--main">
            <div class="xnav-appmenucontainer" tabindex="-1" data-header-component="menu-parent">
                <button aria-haspopup="true" data-header-component="menu-trigger" type="button" class="xnav-header-button xnav-appbutton" data-automationid="xnav-appbutton">
                    <div class="xnav-appbutton--body">
                        <span class="xnav-appbutton--text">Demo Company (Global)</span>
                        <svg role="presentation" width="10" height="5" focusable="false" class="xnav-appbutton--caret xnav-icon xnav-icon-svg" viewBox="0 0 10 5">
                            <path d="M0 0l5 5 5-5z"></path>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="xnav-u-hidden xnav-pagetitlewrapper"><span class="xnav-pagetitle" data-automationid="xnav-pagetitle"></span></div>
            <ol class="xnav-tabgroup xnav-tabgroup-layout xnav-navigation xnav-header-background-color" role="navigation">
                <li class="xnav-tab" data-header-component="menu-parent" tabindex="-1"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION: dashboard" aria-haspopup="false" href="https://go.xero.com/Dashboard/" tabindex="0" class="xnav-focusable xnav-tab--body" data-name="navigation-menu/dashboard" data-menu-item-type="NAVIGATION" data-header-component="menu-trigger">Dashboard</a></li>
                <li class="xnav-tab" data-header-component="menu-parent" tabindex="-1" data-automationid="xnav-nav-selected-item">
                    <button data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION: business" aria-haspopup="true" type="button" tabindex="0" class="xnav-focusable xnav-tab--body xnav-tab--body-is-selected xnav-tab--body-is-selected" data-name="navigation-menu/business" data-menu-item-type="NAVIGATION" data-header-component="menu-trigger" aria-selected="true">Business</button>
                    <div class="xnav-dropdown-layout xnav-nav--dropdown xnav-dropdown-positionleft" aria-hidden="true" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <span class="xnav-verticalmenu--navigation-heading">
                                        <svg role="presentation" width="14" height="13" focusable="false" class="xnav-icon-header-chart xnav-icon xnav-icon-svg" viewBox="0 0 14 13">
                                            <path d="M12,12h2v1H0v-1h2V5c0-0.6,0.4-1,1-1h2c0.6,0,1,0.4,1,1v7h2V1c0-0.6,0.4-1,1-1h2c0.6,0,1,0.4,1,1V12z"></path>
                                        </svg>
                                        Analytics
                                    </span>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: cash-flow" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/cash-flow" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/cashflow">Short-term cash flow</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: business-snapshot" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/business-snapshot" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/business-snapshot/">Business snapshot</a></li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: invoices" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/invoices" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/AccountsReceivable/Search.aspx">Invoices</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: quotes" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/quotes" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Receivable/Quotes/Search">Quotes</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: sales-overview" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/sales-overview" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Receivable/Dashboard/">Sales overview</a></li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: bills-to-pay" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/bills-to-pay" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/AccountsPayable/Search.aspx">Bills to pay</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: purchase-orders" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/purchase-orders" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Payable/PurchaseOrders/Search">Purchase orders</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: purchase-overview" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/purchase-overview" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Payable/Dashboard/">Purchase overview</a></li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: expense-claims" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/expense-claims" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/expenses/">Expense claims</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: products-and-services" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/products-and-services" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Inventory">Products and services</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: payruns" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/payruns" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Payroll/Default.aspx">Pay run</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: cheques" class="xnav-verticalmenuitem--body" data-name="navigation-menu/business/cheques" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Checks/Default.aspx">Cheques</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-tab" data-header-component="menu-parent" tabindex="-1">
                    <button data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION: accounting" aria-haspopup="true" type="button" tabindex="0" class="xnav-focusable xnav-tab--body" data-name="navigation-menu/accounting" data-menu-item-type="NAVIGATION" data-header-component="menu-trigger">Accounting</button>
                    <div class="xnav-dropdown-layout xnav-nav--dropdown xnav-dropdown-positionleft" aria-hidden="true" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: bank-accounts" class="xnav-verticalmenuitem--body" data-name="navigation-menu/accounting/bank-accounts" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Bank/BankAccounts.aspx">Bank accounts</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: reports" class="xnav-verticalmenuitem--body" data-name="navigation-menu/accounting/reports" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn">Reports</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: advanced" class="xnav-verticalmenuitem--body" data-name="navigation-menu/accounting/advanced" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Settings/AdvancedAccounting">Advanced</a></li>
                                </ol>
                                <hr class="xnav-divider">
                                <span class="xnav-verticalmenu--heading">
                                    <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon-favourites xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                        <path d="M7.5 12.5l-5 2.5.833-5.417L0 5.833 5 5l2.5-5L10 5l5 .833-3.333 3.75L12.5 15z"></path>
                                    </svg>
                                    Reports
                                </span>
                                <ol class="xnav-verticalmenu" role="navigation" aria-label="Reports">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-AccountTransactions" class="xnav-verticalmenuitem--body" data-name="1009" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/1009">Account Transactions</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-AgedPayablesSummary" class="xnav-verticalmenuitem--body" data-name="1000" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/1000">Aged Payables Summary</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-AgedReceivablesSummary" class="xnav-verticalmenuitem--body" data-name="1001" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/1001">Aged Receivables Summary</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-BalanceSheet" class="xnav-verticalmenuitem--body" data-name="1017" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/1017">Balance Sheet</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-ProfitandLoss" class="xnav-verticalmenuitem--body" data-name="1016" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/1016">Profit and Loss</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: report-SalesTaxReport" class="xnav-verticalmenuitem--body" data-name="f345c043-9c1e-473b-85f1-9efa583c23ab" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://reporting.xero.com/!7r7nn/v2/Run/New/f345c043-9c1e-473b-85f1-9efa583c23ab">Sales Tax Report</a></li>
                                </ol>
                                <hr class="xnav-divider">
                                <span class="xnav-verticalmenu--heading">
                                    <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon-favourites xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                        <path d="M7.5 12.5l-5 2.5.833-5.417L0 5.833 5 5l2.5-5L10 5l5 .833-3.333 3.75L12.5 15z"></path>
                                    </svg>
                                    Advanced
                                </span>
                                <ol class="xnav-verticalmenu" role="navigation" aria-label="Advanced">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: settings-favourite-CHARTOFACCOUNTS" class="xnav-verticalmenuitem--body" data-name="chart-of-accounts" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/GeneralLedger/ChartOfAccounts.aspx">Chart of accounts</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: settings-favourite-TOOLS_FIND" class="xnav-verticalmenuitem--body" data-name="find-and-recode" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Recoding">Find and recode</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: settings-favourite-TOOLS_FIXEDASSETS" class="xnav-verticalmenuitem--body" data-name="fixed-assets" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://fixedassets.xero.com/?CID=!7r7nn#assets">Fixed assets</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: settings-favourite-TOOLS_JOURNALS" class="xnav-verticalmenuitem--body" data-name="manual-journals" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Journal/Search.aspx">Manual journals</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-tab" data-header-component="menu-parent" tabindex="-1">
                    <button data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION: projects" aria-haspopup="true" type="button" tabindex="0" class="xnav-focusable xnav-tab--body" data-name="navigation-menu/projects" data-menu-item-type="NAVIGATION" data-header-component="menu-trigger">Projects</button>
                    <div class="xnav-dropdown-layout xnav-nav--dropdown xnav-dropdown-positionleft" aria-hidden="true" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: all-projects" class="xnav-verticalmenuitem--body" data-name="navigation-menu/projects/all-projects" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/projects/">All projects</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: time-entries" class="xnav-verticalmenuitem--body" data-name="navigation-menu/projects/time-entries" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/projects/time-entries">Time entries</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: staff-time-overview" class="xnav-verticalmenuitem--body" data-name="navigation-menu/projects/staff-time-overview" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/projects/staff-time-overview">Staff time overview</a></li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <span class="xnav-verticalmenu--navigation-heading">
                                        <svg role="presentation" width="15" height="17" focusable="false" class="xnav-icon-header xnav-icon xnav-icon-svg" viewBox="0 0 15 17">
                                            <path d="M6.032 14.826a6.324 6.324 0 0 1-3.12-1.823l-.984.568c-.433.25-1.11.076-1.355-.348l-.49-.848c-.244-.424-.056-1.098.377-1.348l.974-.562A6.626 6.626 0 0 1 1.138 8.5c0-.654.094-1.286.27-1.882L.46 6.071c-.433-.25-.621-.924-.377-1.348l.49-.848c.244-.424.922-.598 1.355-.348l.924.534a6.328 6.328 0 0 1 3.18-1.887V1c0-.5.49-1 .979-1h.978c.49 0 .98.5.98 1v1.174a6.328 6.328 0 0 1 3.179 1.887l.924-.534c.433-.25 1.11-.076 1.355.348l.49.848c.244.424.056 1.098-.377 1.348l-.948.547a6.63 6.63 0 0 1 .27 1.882 6.6 6.6 0 0 1-.296 1.965l.974.562c.433.25.621.924.377 1.348l-.49.848c-.244.424-.922.598-1.355.348l-.983-.568a6.324 6.324 0 0 1-3.12 1.823V16c0 .5-.49 1-.98 1h-.978c-.49 0-.98-.5-.98-1v-1.174zM7.5 11.5c1.622 0 2.937-1.343 2.937-3s-1.315-3-2.937-3c-1.622 0-2.937 1.343-2.937 3s1.315 3 2.937 3z"></path>
                                        </svg>
                                        Projects settings
                                    </span>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: staff-cost-rates" class="xnav-verticalmenuitem--body" data-name="navigation-menu/projects/staff-cost-rates" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/projects/settings/staff-rates">Staff cost rates</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-tab" data-header-component="menu-parent" tabindex="-1">
                    <button data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION: contacts" aria-haspopup="true" type="button" tabindex="0" class="xnav-focusable xnav-tab--body" data-name="navigation-menu/contacts" data-menu-item-type="NAVIGATION" data-header-component="menu-trigger">Contacts</button>
                    <div class="xnav-dropdown-layout xnav-nav--dropdown xnav-dropdown-positionleft" aria-hidden="true" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: all-contacts" class="xnav-verticalmenuitem--body" data-name="navigation-menu/contacts/all-contacts" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/contacts/all">All contacts</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: customers" class="xnav-verticalmenuitem--body" data-name="navigation-menu/contacts/customers" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/contacts/customers">Customers</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: suppliers" class="xnav-verticalmenuitem--body" data-name="navigation-menu/contacts/suppliers" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/contacts/suppliers">Suppliers</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: employees" class="xnav-verticalmenuitem--body" data-name="navigation-menu/contacts/employees" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Contacts/Search/?contactType=CONTYPE/EMPLOYEE">Employees</a></li>
                                </ol>
                                <hr class="xnav-divider">
                                <span class="xnav-verticalmenu--heading">Groups</span>
                                <ol class="xnav-verticalmenu" role="navigation" aria-label="Groups">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked NAVIGATION_SUBMENU: custom_contact_groups" class="xnav-verticalmenuitem--body" data-name="contact-group-50e845c3-464e-4a6d-8951-8794317c7893" data-menu-item-type="NAVIGATION_SUBMENU" aria-describedby="false" tabindex="-1" href="https://go.xero.com/app/!7r7nn/contacts/group/50e845c3-464e-4a6d-8951-8794317c7893">Training customers</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <ol class="xnav-addons xnav-header-background-color">
                <li class="xnav-addon" tabindex="-1" data-header-component="menu-parent" data-automationid="xrh-addon-quicklaunch">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="Quick Launch" aria-label="Quick Launch" aria-haspopup="true" data-automationid="xrh-addon-quicklaunch-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper">
                            <svg role="presentation" width="12" height="12" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 12 12">
                                <path d="M7 5h5v2H7v5H5V7H0V5h5V0h2v5z"></path>
                            </svg>
                        </div>
                    </button>
                    <div class="xnav-dropdown-layout xnav-addon--dropdown xnav-dropdown-positionright" aria-hidden="true" data-automationid="xrh-addon-quicklaunch-body" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div data-automationid="xrh-addon-quicklaunch-body" class="xnav-dropdown--body">
                                <span class="xnav-verticalmenu--heading">Create new</span>
                                <ol class="xnav-verticalmenu" role="navigation" aria-label="Create new">
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: invoice" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/invoice" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/AccountsReceivable/Edit.aspx">Invoice</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: bill" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/bill" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/AccountsPayable/Edit.aspx">Bill</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: contact" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/contact" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Contacts/Edit.aspx">Contact</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: quote" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/quote" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Receivable/Quotes/New">Quote</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: purchase-order" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/purchase-order" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Accounts/Payable/PurchaseOrders/New">Purchase order</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: manual-journal" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/manual-journal" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Journal/Edit.aspx">Manual journal</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: spend-money" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/spend-money" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Banking/Account/#select/spend">Spend money</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: receive-money" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/receive-money" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Banking/Account/#select/receive">Receive money</a></li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: transfer-money" class="xnav-verticalmenuitem--body" data-name="addons-menu/quicklaunch/create-new/transfer-money" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/Bank/Transfer.aspx">Transfer money</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-addon" data-header-component="menu-parent" data-automationid="xrh-addon-search" tabindex="-1">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="Search" aria-label="Search" aria-haspopup="true" data-automationid="xrh-addon-search-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper">
                            <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                <path d="M11.019 9.588L15 13.57 13.57 15l-3.982-3.981a6.048 6.048 0 0 1-3.519 1.12A6.061 6.061 0 0 1 0 6.069 6.061 6.061 0 0 1 6.07 0a6.061 6.061 0 0 1 6.069 6.07 6.048 6.048 0 0 1-1.12 3.518zm-4.95 1.033a4.546 4.546 0 0 0 4.552-4.552A4.546 4.546 0 0 0 6.07 1.517 4.546 4.546 0 0 0 1.517 6.07a4.546 4.546 0 0 0 4.552 4.552z"></path>
                            </svg>
                        </div>
                    </button>
                    <div tabindex="-1" data-automationid="xrh-addon-search-body" data-header-component="menu">
                        <div id="DemoOrgNotification" style="right: -1px; top: 60px; z-index: 1; background: #fff; border: 1px solid #d0dae2; border-radius: 3px; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.05), 0px 2px 1px 0px rgba(0,0,0,0.03); color: #fff; cursor: default; display: none; font-size: 13px; font-weight: normal; line-height: 24px; padding: 20px; position: absolute; text-shadow: none; width: 270px; -webkit-font-smoothing: auto;">
                            <div style="background: #fff; border-top: 1px solid #d0dae2; border-left: 1px solid #d0dae2; height: 6px; position: absolute; right: 18px; top: -5px; transform: rotate(45deg); width: 6px;"></div>
                            <p style="color: #32465a; font-weight: bold; margin-bottom: 0.5em; margin-top: 0;">Search for anything in Xero</p>
                            <p style="color: #8296aa; margin-bottom: 1em;">Watch the video to see how it works or learn more in the <a href="https://help.xero.com/int/XeroSearch" style="color: #2baaed;" class="js-link" target="_blank">Help Centre</a>.</p>
                            <img id="demo-video-image" src="./Xero/demo-video.png" style="border-radius: 2px; cursor: pointer; display: block; margin: 0 auto 2em auto;">
                            <p style="color: #9FACBA; text-align: center;">Search is not available to demo organizations.</p>
                        </div>
                    </div>
                </li>
                <li class="xnav-addon" data-header-component="menu-parent" data-automationid="xrh-addon-postoffice" tabindex="-1">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="Post Office" aria-label="Post Office" aria-haspopup="true" data-automationid="xrh-addon-postoffice-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper">
                            <svg role="presentation" width="13" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 13 15">
                                <path d="M8 13.5H5c0 2 3 2 3 0zm3-4v-3c0-3-2.044-4-3.044-4v-1c0-2-2.926-2-2.926 0v1c-1 0-3.03 1-3.03 4v3l-2 2v1h13v-1l-2-2z"></path>
                            </svg>
                        </div>
                    </button>
                    <div tabindex="-1" data-automationid="xrh-addon-postoffice-body" data-header-component="menu">
                        <div class="po-addonvisual-dropdownwrapper" build-version="11.2.3">
                            <div aria-hidden="true" class="po-dropdown--panel" tabindex="-1">
                                <div class="po-dropdown--body xrh-addon--dropdown po-addonvisual-dropdownpanel po-addonvisual-is-hidden po-dropdown-layout" role="presentation">
                                    <div class="po-addonvisual-dropdownheader">
                                        <div class="po-dropdown--header">
                                            <div class="po-dropdown--header-container">
                                                <div class="po-dropdown--header-leftcontent">
                                                    <div class="po-heading-medium po-margin-left-2xsmall po-text-truncated">Notifications</div>
                                                </div>
                                            </div>
                                        </div>
                                        <button aria-label="Archive this" class="po-button po-button-icon-medium po-button-icon" tabindex="0" type="button">
                                            <svg class="po-icon" focusable="false" height="12" viewBox="0 0 12 12" width="12">
                                                <path d="M6 4.5L10.5 0 12 1.5 7.5 6l4.5 4.5-1.5 1.5L6 7.5 1.5 12 0 10.5 4.5 6 0 1.5 1.5 0 6 4.5z" role="presentation"></path>
                                            </svg>
                                            <div class="po-touchtarget"></div>
                                        </button>
                                    </div>
                                    <div class="po-dropdown--scrollable-container">
                                        <div class="po-dropdown--scrollable-content">
                                            <div class="po-panel-background">
                                                <div class="po-dropdownloader">
                                                    <div class="po-dropdownloader-layout">
                                                        <div aria-label="Loading" class="po-loader po-loader-medium po-dropdownloader--xuiloader po-loader-layout" role="progressbar">
                                                            <div class="po-loader--dot"></div>
                                                            <div class="po-loader--dot"></div>
                                                            <div class="po-loader--dot"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="po-dropdown--footer po-dropdown--footer-layout">
                                            <div class="po-actions po-actions-layout po-actions-linear"><button class="po-button po-actions--primary po-button-borderless-muted po-button-medium po-button-is-disabled" disabled="" tabindex="-1" type="button" data-automationid="po-markAllAsRead">Mark all as read</button><button class="po-button po-actions--secondary po-button-borderless-main po-button-medium po-button-is-disabled" disabled="" tabindex="-1" type="button" data-automationid="settings">Settings</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" class="po-mask po-modal-mask po-unmask" role="presentation">
                                <section aria-labelledby="po-settings-modal-header-id" class="po-modal po-modal-width-medium po-modal-layout" tabindex="-1">
                                    <header class="po-modal--header po-modal--heading" id="po-settings-modal-header-id">
                                        Notification settings
                                        <button title="Close" class="po-button po-modal--close po-button-icon-medium po-button-icon" aria-label="Close" tabindex="0" type="button">
                                            <svg class="po-icon" focusable="false" height="12" viewBox="0 0 12 12" width="12">
                                                <path d="M6 4.5L10.5 0 12 1.5 7.5 6l4.5 4.5-1.5 1.5L6 7.5 1.5 12 0 10.5 4.5 6 0 1.5 1.5 0 6 4.5z" role="presentation"></path>
                                            </svg>
                                            <div class="po-touchtarget"></div>
                                        </button>
                                    </header>
                                    <div class="po-modal--body">
                                        <div class="po-full-width-switch po-switchwrapper po-switch-medium">
                                            <label class="po-switch po-switch-reversed" data-automationid="preferenceCheckbox">
                                                <input type="checkbox" role="switch" class="po-switch--checkbox" data-automationid="preferenceCheckbox--input" aria-checked="false" aria-labelledby="po-settings-modal-switch-id">
                                                <div class="po-switch--control po-switch--control-medium" data-automationid="preferenceCheckbox--switch">
                                                    <div class="po-touchtarget"></div>
                                                </div>
                                                <span class="po-switch--label po-switch--label-medium" data-automationid="preferenceCheckbox--label" id="po-settings-modal-switch-id">Show notification pop-ups</span>
                                            </label>
                                        </div>
                                    </div>
                                    <footer class="po-modal--footer">
                                        <div class="po-actions po-actions-layout"><button class="po-button po-actions--primary po-button-main po-button-medium" tabindex="0" type="button" data-automationid="savePreferences">Save</button><button class="po-button po-actions--secondary po-button-standard po-button-medium" tabindex="0" type="button" data-automationid="closePreferences">Cancel</button></div>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-addon" data-header-component="menu-parent" data-automationid="xrh-addon-help" tabindex="-1">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="Help" aria-label="Help" aria-haspopup="true" data-automationid="xrh-addon-help-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper">
                            <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                <path d="M7.5 15a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15zm-.991-5.002V12H8.55V9.998H6.509zm-2.093-4.29h1.911c0-.234.026-.453.078-.657a1.58 1.58 0 0 1 .24-.532c.109-.152.247-.273.417-.365.169-.09.37-.136.604-.136.347 0 .617.095.813.286.195.19.292.485.292.884.009.234-.032.429-.123.585-.092.156-.21.299-.358.429-.147.13-.308.26-.481.39s-.338.284-.494.462a2.686 2.686 0 0 0-.41.643c-.117.251-.188.563-.214.936v.585h1.755v-.494c.035-.26.12-.477.254-.65.134-.173.288-.327.461-.462.173-.134.357-.268.553-.402a2.532 2.532 0 0 0 .936-1.176c.108-.27.162-.612.162-1.028a2.333 2.333 0 0 0-.702-1.625c-.251-.251-.583-.461-.994-.63-.412-.17-.926-.254-1.541-.254-.477 0-.908.08-1.293.24a2.87 2.87 0 0 0-.989.67 3.053 3.053 0 0 0-.636 1.014c-.152.39-.232.819-.241 1.287z"></path>
                            </svg>
                        </div>
                    </button>
                    <div tabindex="-1" data-automationid="xrh-addon-help-body" data-header-component="menu">
                        <div class="nhm-container nhm-addonvisual-dropdownwrapper">
                            <div aria-hidden="true" class="nhm-dropdown--panel" tabindex="-1">
                                <div class="nhm-dropdown--body nhm-addon--dropdown nhm-addonvisual-position nhm-bodywidth nhm-addonhidden" role="presentation">
                                    <div class="nhm-dropdown--scrollable-container">
                                        <div class="nhm-dropdown--scrollable-content">
                                            <div aria-label="Loading" class="nhm-loader nhm-loader-medium nhm-loader-layout" role="progressbar">
                                                <div class="nhm-loader--dot"></div>
                                                <div class="nhm-loader--dot"></div>
                                                <div class="nhm-loader--dot"></div>
                                            </div>
                                            <ul class="nhm-picklist nhm-picklist-layout nhm-picklist-medium nhm-link-wrapper nhm-help-menu-item">
                                                <li class="nhm-pickitem nhm-help-menu-link-item nhm-pickitem-medium" id="advisorDirectory">
                                                    <a href="https://www.xero.com/advisors?utm_source=help-menu&amp;utm_medium=button-click&amp;utm_campaign=advisor-connect" target="_blank" class="nhm-pickitem--body nhm-pickitem--body-has-leftelement nhm-pickitem--body-has-rightelement" rel="noopener noreferrer">
                                                        <span class="nhm-pickitem--sideelement"><span class="nhm-pickitem--text nhm-help-menu-link">Advisor Directory</span></span><span class="nhm-pickitem--text"></span>
                                                        <span class="nhm-pickitem--sideelement">
                                                            <span class="nhm-pickitem--sideelement nhm-help-menu-link-item-icon">
                                                                <svg class="nhm-icon" focusable="false" height="12" viewBox="0 0 12 12" width="12">
                                                                    <title>external link opens in new tab</title>
                                                                    <path d="M10.75 2.75L7 6.5 5.5 5l3.75-3.75L8 0h4v4l-1.25-1.25zM6 0v1H1v10h10V6h1v4.91c0 .545-.5 1.09-1 1.09H1c-.5 0-1-.545-1-1.09l.01-9.82C0 .546.5 0 1 0h5z" role="presentation"></path>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="">
                                                <div class="nhm-controlgroup nhm-controlgroup-vertical nhm-switch-group" role="group" aria-label="Onboarding help options for new Xero users"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-addon xnav-addon-lastvisible" tabindex="-1" data-header-component="menu-parent" data-automationid="xnav-addon-user">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="ali mohammadizadeh" aria-label="ali mohammadizadeh" aria-haspopup="true" data-automationid="xnav-addon-user-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper"><abbr class="xnav-avatar xnav-avatar-color-9" role="presentation">AM</abbr></div>
                    </button>
                    <div class="xnav-dropdown-layout xnav-addon--dropdown xnav-dropdown-positionright" aria-hidden="true" data-automationid="xnav-addon-user-body" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div data-automationid="xnav-addon-user-body" class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <li class="xnav-verticalmenuitem" role="option">
                                        <a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: profile" class="xnav-verticalmenuitem--body" data-name="user-menu/profile" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://my.xero.com/Go/UserProfile">
                                            <h4 class="xnav-verticalmenuitem--heading">ali mohammadizadeh</h4>
                                            <span class="xnav-verticalmenuitem--subheading">Edit profile</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem" role="option"><a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: account" class="xnav-verticalmenuitem--body" data-name="user-menu/account" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://my.xero.com/Go/MyAccount">Account</a></li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="12" height="17" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 12 17">
                                                <path d="M2 7V4c0-4 4-4 4-4s4 0 4 4v3h1c1 0 1 1 1 1v8s0 1-1 1H1c-1 0-1-1-1-1V8s0-1 1-1h1zm2 0h4V4c0-2-2-2-2-2S4 2 4 4v3zm2 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </div>
                                        <a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: log-out" class="xnav-verticalmenuitem--body" data-name="user-menu/log-out" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/logout">Log out</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="xnav-addon xnav-addon-lastvisible xnav-addon-hidden" tabindex="-1" data-header-component="menu-parent" data-automationid="xnav-addon-overflowmenu">
                    <button type="button" class="xnav-header-button xnav-addon--iconbutton xnav-header--iconbutton xnav-focusable--parent" title="More" aria-label="More" aria-haspopup="true" tabindex="-1" data-automationid="xnav-addon-overflowmenu-iconbutton" data-header-component="menu-trigger">
                        <div role="presentation" class="xnav-focusable--child xnav-iconwrapper">
                            <svg role="presentation" width="3" height="13" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 3 13">
                                <path d="M1.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 10a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                            </svg>
                        </div>
                    </button>
                    <div class="xnav-dropdown-layout xnav-addon--dropdown xnav-dropdown-positionright" aria-hidden="true" data-automationid="xnav-addon-overflowmenu-body" data-header-component="menu">
                        <div class="xnav-dropdown--mask"></div>
                        <div class="xnav-dropdown--panel" aria-hidden="true" role="listbox" tabindex="-1">
                            <div data-automationid="xnav-addon-overflowmenu-body" class="xnav-dropdown--body">
                                <ol class="xnav-verticalmenu" role="navigation">
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="12" height="12" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 12 12">
                                                <path d="M7 5h5v2H7v5H5V7H0V5h5V0h2v5z"></path>
                                            </svg>
                                        </div>
                                        <button data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON" type="button" aria-haspopup="true" class="xnav-verticalmenuitem--body xnav-header-button" data-name="addons-menu/quicklaunch" data-menu-item-type="ADDON" tabindex="-1">Quick Launch</button>
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                                <path d="M11.019 9.588L15 13.57 13.57 15l-3.982-3.981a6.048 6.048 0 0 1-3.519 1.12A6.061 6.061 0 0 1 0 6.069 6.061 6.061 0 0 1 6.07 0a6.061 6.061 0 0 1 6.069 6.07 6.048 6.048 0 0 1-1.12 3.518zm-4.95 1.033a4.546 4.546 0 0 0 4.552-4.552A4.546 4.546 0 0 0 6.07 1.517 4.546 4.546 0 0 0 1.517 6.07a4.546 4.546 0 0 0 4.552 4.552z"></path>
                                            </svg>
                                        </div>
                                        <button data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON" type="button" aria-haspopup="true" class="xnav-verticalmenuitem--body xnav-header-button" data-name="addons-menu/search" data-menu-item-type="ADDON" tabindex="-1">Search</button>
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="13" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 13 15">
                                                <path d="M8 13.5H5c0 2 3 2 3 0zm3-4v-3c0-3-2.044-4-3.044-4v-1c0-2-2.926-2-2.926 0v1c-1 0-3.03 1-3.03 4v3l-2 2v1h13v-1l-2-2z"></path>
                                            </svg>
                                        </div>
                                        <button data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON" type="button" aria-haspopup="true" class="xnav-verticalmenuitem--body xnav-header-button" data-name="addons-menu/post-office" data-menu-item-type="ADDON" tabindex="-1">Post Office</button>
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="15" height="15" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 15 15">
                                                <path d="M7.5 15a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15zm-.991-5.002V12H8.55V9.998H6.509zm-2.093-4.29h1.911c0-.234.026-.453.078-.657a1.58 1.58 0 0 1 .24-.532c.109-.152.247-.273.417-.365.169-.09.37-.136.604-.136.347 0 .617.095.813.286.195.19.292.485.292.884.009.234-.032.429-.123.585-.092.156-.21.299-.358.429-.147.13-.308.26-.481.39s-.338.284-.494.462a2.686 2.686 0 0 0-.41.643c-.117.251-.188.563-.214.936v.585h1.755v-.494c.035-.26.12-.477.254-.65.134-.173.288-.327.461-.462.173-.134.357-.268.553-.402a2.532 2.532 0 0 0 .936-1.176c.108-.27.162-.612.162-1.028a2.333 2.333 0 0 0-.702-1.625c-.251-.251-.583-.461-.994-.63-.412-.17-.926-.254-1.541-.254-.477 0-.908.08-1.293.24a2.87 2.87 0 0 0-.989.67 3.053 3.053 0 0 0-.636 1.014c-.152.39-.232.819-.241 1.287z"></path>
                                            </svg>
                                        </div>
                                        <button data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON" type="button" aria-haspopup="true" class="xnav-verticalmenuitem--body xnav-header-button" data-name="addons-menu/help" data-menu-item-type="ADDON" tabindex="-1">Help</button>
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper"><abbr class="xnav-avatar xnav-avatar-small xnav-avatar-color-9" role="presentation">AM</abbr></div>
                                        <button data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON" type="button" aria-haspopup="true" class="xnav-verticalmenuitem--body xnav-header-button" data-name="user-menu/user-info" data-menu-item-type="ADDON" tabindex="-1">ali mohammadizadeh</button>
                                    </li>
                                    <li role="presentation">
                                        <hr class="xnav-divider">
                                    </li>
                                    <li class="xnav-verticalmenuitem xnav-verticalmenuitem-lefticon" role="option">
                                        <div class="xnav-verticalmenuitem--icon xnav-iconwrapper">
                                            <svg role="presentation" width="12" height="17" focusable="false" class="xnav-icon xnav-icon-svg" viewBox="0 0 12 17">
                                                <path d="M2 7V4c0-4 4-4 4-4s4 0 4 4v3h1c1 0 1 1 1 1v8s0 1-1 1H1c-1 0-1-1-1-1V8s0-1 1-1h1zm2 0h4V4c0-2-2-2-2-2S4 2 4 4v3zm2 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </div>
                                        <a data-on="click" data-event-category="Nav" data-event-action="Clicked ADDON: log-out" class="xnav-verticalmenuitem--body" data-name="user-menu/log-out" data-menu-item-type="ADDON" aria-describedby="false" tabindex="-1" href="https://go.xero.com/logout">Log out</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <span class="xnav-u-hidden-visually">Current page</span><span id="xnav-access-opens-new-window" class="xnav-u-hidden-visually">Opens in new window</span>
    </header>
</div>

@code {

}
